t/pp_*.t
.*
!.gitignore
!.shipit
.*.sw*
Makefile*
!Makefile.PL
*blib
META.yml
inc/
MANIFEST
blib*
Makefile
Makefile.old
Build
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
CatalystX-FacebookURI-*
cover_db
